/*Pre defined Classes*/


.outer {
    position: relative;
    width: 400px;
    height: 500px;
    top: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 auto;
}

.form {
    position: absolute;
    top: 25%;
    left: 10%;
}

 input {
    position: relative;
    left: 25px;
    width: 77%;
    display: inline-block;
    margin-bottom: 2px;
    padding: 6px;
    text-align: center;
}